body {background-color: rgba(241, 240, 225, 0.507);}


h1 {
    text-align: center;
    color: rgb(80, 80, 80);
    }

    h2 {
        text-align: center;
        color: rgb(80, 80, 80);
        }


div.initial {
font-size: 400%;
font-weight: bold;
color: rgb(80, 80, 80);
float: left;
margin: -0.4em 0.1em -0.4em;
    }



div {
text-align: left;
color: rgb(80, 80, 80);
hyphens: auto; 
text-align: justify;
margin-left: 40mm;
margin-right: 40mm;
font-family: "Times New Roman", Times, serif;
   }


