body {
    margin: 40px auto;
    max-width: 1250px;
    line-height: 1.6;
    justify-content: center;
    background-color: #f3edde; 
}

img {
    float: right;
}

h2,
h4 {
    text-align: center;    
}

h3 {
    text-indent: 5em;
    margin: 0;
}

div.initial {
    font-size: 470%;
    font-weight: bold;
    float: left;
    margin: -0.4em 0.1em -0.4em;
}

div.indent {
    text-indent: 2em;
}

div.closer {
    text-indent: 15em;
    letter-spacing: 0.3em;
}

.high {background-color: rgb(0, 140, 255);}

.hidden {
    visibility: hidden;
}

@media (max-width: 1185px) {
    body {
        margin: 10px 15px 10px 15px; 
    }
    div {
        font-size: 0.9rem;              
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1.2rem;
    }   

    img {
        width: 50%;
    }

}

@media (max-width: 984px){
    body {
        margin: 10px 15px 10px 15px; 
    }
    div {
        font-size: 0.8rem; 
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 1.2rem;
    }   

    img {
        width: 45%;
    }
}

@media (max-width: 790px){
    body {
        margin: 10px 15px 10px 15px; 
    }
    div {
        font-size: 0.7rem;  
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    h4 {
        font-size: 1.2rem;
    }
    img {
        width: 45%;        
    }
}

@media (max-width: 682px){      
    body {
        margin: 10px 15px 10px 15px; 
    }

    div {
        font-size: 0.6rem; 
        }
    
    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 0.6rem;
    }

    h4 {
        font-size: 1rem;
    }
    img {
        width: 45%;         
    }
}

@media (max-width: 585px){  
    .text {
        margin: 0 auto;
        justify-content: center;
    }    
    body {
        margin: 10px 15px 10px 15px; 
    }

    div {
        font-size: 0.9rem; 
        }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1.2rem;
    }
    img {
        width: 85%;  
        float: none;
        margin: 10px 5px 10px 5px;       
    }
}


